# ary[::-1]

In [3]:
ary_1d= [ 1,2,3,4]
print('ary_1d[::-1]')
print(ary_1d[::-1])

print('ary_1d[:-1]')
print(ary_1d[:-1])

print('ary_1d[1:2]')
print(ary_1d[1:2])


print('ary_1d[:2]')
print(ary_1d[:2])

print('')


ary_2d= [ [1,5,7,1],
        [2,6,11,4],
        [3,72,2,490],
        [4, 14,52, 14]
      ]
print('ary_2d[::-1]')
print(ary_2d[::-1])

print('ary_2d[:-1]')
print(ary_2d[:-1])

ary_1d[::-1]
[4, 3, 2, 1]
ary_1d[:-1]
[1, 2, 3]
ary_1d[1:2]
[2]
ary_1d[:2]
[1, 2]

ary_2d[::-1]
[[4, 14, 52, 14], [3, 72, 2, 490], [2, 6, 11, 4], [1, 5, 7, 1]]
ary_2d[:-1]
[[1, 5, 7, 1], [2, 6, 11, 4], [3, 72, 2, 490]]

# About Star( \*, \**)

In [7]:

print('===== * =====')
def foo(*args):
    for a in args:
        print a
        
print('foo(1): ' )
foo(1)
print('foo(1,2,3):' )
foo(1,2,3)


print('===== ** =====')
def bar(**kwargs):
    for a in kwargs:
        print a, kwargs[a]         

print('bar(name=\'one\', age=27)' )
bar(name='one', age=27)

print('===== foo2(*l) =====')
def foo2(bar, lee):
    print bar, lee
    
l = [1,2]



print('foo2(*l)')
foo2(*l)

===== * =====
foo(1):
1
foo(1,2,3):
1
2
3
===== ** =====
bar(name='one', age=27)
age 27
name one
===== foo2(*l) =====
foo2(*l)
1 2