# ary[::-1]

In [3]:
ary_1d= [ 1,2,3,4]
print('ary_1d[::-1]')
print(ary_1d[::-1])

print('ary_1d[:-1]')
print(ary_1d[:-1])

print('ary_1d[1:2]')
print(ary_1d[1:2])


print('ary_1d[:2]')
print(ary_1d[:2])

print('')


ary_2d= [ [1,5,7,1],
        [2,6,11,4],
        [3,72,2,490],
        [4, 14,52, 14]
      ]
print('ary_2d[::-1]')
print(ary_2d[::-1])

print('ary_2d[:-1]')
print(ary_2d[:-1])

ary_1d[::-1]
[4, 3, 2, 1]
ary_1d[:-1]
[1, 2, 3]
ary_1d[1:2]
[2]
ary_1d[:2]
[1, 2]

ary_2d[::-1]
[[4, 14, 52, 14], [3, 72, 2, 490], [2, 6, 11, 4], [1, 5, 7, 1]]
ary_2d[:-1]
[[1, 5, 7, 1], [2, 6, 11, 4], [3, 72, 2, 490]]

# About Star( \*, \**)

In [7]:

print('===== * =====')
def foo(*args):
    for a in args:
        print a
        
print('foo(1): ' )
foo(1)
print('foo(1,2,3):' )
foo(1,2,3)


print('===== ** =====')
def bar(**kwargs):
    for a in kwargs:
        print a, kwargs[a]         

print('bar(name=\'one\', age=27)' )
bar(name='one', age=27)

print('===== foo2(*l) =====')
def foo2(bar, lee):
    print bar, lee
    
l = [1,2]



print('foo2(*l)')
foo2(*l)

===== * =====
foo(1):
1
foo(1,2,3):
1
2
3
===== ** =====
bar(name='one', age=27)
age 27
name one
===== foo2(*l) =====
foo2(*l)
1 2

# [] * 2

In [11]:
ary = [2,4,6]

ary_mul_2 = ary * 2

print (ary_mul_2)

[2, 4, 6, 2, 4, 6]

# [[] for i in range(5)]

In [2]:
ary = [[] for i in range(5)]   # clean ary
print ary

ary_2 = [0 for i in range(5)]   # clean ary
print ary_2

[[], [], [], [], []]
[0, 0, 0, 0, 0]

# tuple Concatenate

In [1]:
from types import *


a = 1 
b = 'b'
c = 345

tup = (a,b,c)
tup_1_0 = (b,c)


tup_1 = tuple([a]) + tup_1_0

print type(tup)
print tup

print type(tup_1)
print tup_1

<type 'tuple'>
(1, 'b', 345)
<type 'tuple'>
(1, 'b', 345)

# deque test

In [5]:
from collections import deque
import numpy as np
action_deque = deque(maxlen=4)


action_deque.append(0)
action_deque.append(4)
action_deque.append(6)
# action_deque.append(3)


print(action_deque)

d_ary =[d for d in action_deque]
print(d_ary)
# state = np.concatenate([d for d in action_deque])

# print(state)

deque([0, 4, 6], maxlen=4)
[0, 4, 6]

# t_arms[-2:]

In [2]:
t_arms=[ 101.92594524,  -96.15221263,  201.90378134,  -98.25751273]
print(t_arms[-2:])

[201.90378134, -98.25751273]

# Test Class

In [2]:
class SRA:
    def __init__():
        self.s = None  # state
        self.r = 0     # reward
        self.a = 0     #actino

In [7]:
import numpy as np
a = [ [2, 4, 6]
     ,[2, 4, 6]]
print a 

print(np.shape(a))



a_4   = [1,2,3,4]
a_4_1 = [ [1], [2], [3], [4]]
print('a_4   shape = {} '.format(np.shape(a_4)) )
print('a_4_1 shape = {} '.format(np.shape(a_4_1)) )

[[2, 4, 6], [2, 4, 6]]
(2, 3)
a_4   shape = (4,)
a_4_1 shape = (4, 1)